*{
    margin: 0;
}

body{
    max-width: 100%;
    height: 100%;
    margin: 0;
    background: #FFF6FE;
    font-family: 'rubik', sans-serif;
}

.cta_button{
    width: 10vw;
    height: 6vh;
    background: #d3b6fa;
    color: #FFF6FE;
    border-radius: 1em;
    border: none;
    font-size: 1em;
}

.cta_button:hover{
    background: linear-gradient(#d1b2fa,#b57dfe);
    color: #ffffff;
}

.cta_button2{
    width: 10vw;
    height: 6vh;
    background: #f878bc;
    color: #FFF6FE;
    border-radius: 1em;
    border: none;
    font-size: 1em;
}

.cta_button2:hover{
    background: linear-gradient(#f878bc,#FF1493);
    color: #ffffff;
}

h1, h2, h3{
    font-family: "cooper-black-std", serif;
    font-weight: 400;
}

nav{
    position: absolute;
    width: 100%;
    height: 15vh;
    background-color: #C394FF50;
    display: flex;
    align-items: center;
    justify-content: space-around;
    font-family: "cooper-black-std", serif;
}

.nav_list_left{
    display: flex;
    gap: 2em;
    list-style: none;
}

.nav_list_left li{
    width: 6vw;

}

nav a{
    text-decoration: none;
    color: #FFF6FE;
    text-shadow: #000 0px 0px 5px;
}

nav a:hover{
    color: #f878bc;
    text-shadow: #870C92 0px 0px 5px;
}

.logo_container img{
    width: 8vw;
    height: 15vh;
}

.nav_list_right{
    display: flex;
    list-style: none;
    gap: 2em;
   
}

header{
    background-image: url(./assets/Images/Mocktails\ dessin.png);
    height: 100vh;
    box-shadow: 0px -11px 100px #C394FF;
}

.hero_content{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 45vw;
    position: absolute;
    top: 150px;
    left: 765px;
    gap: 2em;
}

.hero_content h1{
    width: 13em;
    font-size: 3em;
    color: #ffffff;
    text-align: center;
    -webkit-text-stroke: #ff1493 1px;
    text-shadow: #ff1493 0px 0px 5px;
}

.hero_content p{
    font-size: 2em;
    color: #ffffff;
    -webkit-text-stroke: #ff1493 0.5px;
    text-shadow: #ff1493 0px 0px 5px;
}

.hero_content img{
    width: 14vw;
    height: 25vh;
}

#bests_sellers{
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 5em 5em;
}

#bests_sellers h2{
    font-size: 3em;
    color: #FF1493;
    margin-bottom: 0.5em;
    text-align: center;
    text-shadow: #fa7abe 0px 5px 5px;
}

.product_list{
    display: flex;
    gap: 8em;
    margin: 2em 0em 2em 0em;
}

.product_card{
    position: relative;
    width: 25vw;
    height: 70vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.product_info{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 18em;
    gap: 1em;
}

.product_info p{
    font-size: 0.9em;
}

.product_card img{
    width: 20vw;
    height: 30vh;
    position: absolute;
    top: 6em;
}

.circle{
    position: absolute;
    top: 5rem;
    width: 15vw;
    height: 30vh;
    border-radius: 50%;
}
.tropical{
    color: #AC461A;
    background: linear-gradient(#FFF6FE50, #EFB817, #FFF6FE50 );
}

.tropical_circle{
    background: linear-gradient(#FE922A, #FFF6FE);
}

.add_btn_tropical{
    width: 10vw;
    height: 6vh;
    background: #fbcfa7;
    color: #ffffff;
    border-radius: 1em;
    border: none;
    font-size: 1em;
}

.add_btn_tropical:hover{
    background: linear-gradient(#f5d574, #EFB817);
    color: #FFF6FE;
}

.barbapop{
    color: #dc0f7c;
    background: linear-gradient(#FFF6FE50, #FFC4FB, #FFF6FE50 );
}

.barbapop_circle{
    background: linear-gradient(#FF1493, #FFF6FE);
}

.add_btn_babrbapop{
    width: 10vw;
    height: 6vh;
    background: #fc9fd0;
    color: #ffffff;
    border-radius: 1em;
    border: none;
    font-size: 1em;
}

.add_btn_babrbapop:hover{
    background: linear-gradient(#FFC4FB,#FF1493);
    color: #FFF6FE;
}

.jasmine{
    color: #438710;
    background: linear-gradient(#FFF6FE50, #8DBFA7, #FFF6FE50 );
}
.jasmine_circle{
    background: linear-gradient(#438710, #FFF6FE);
}

.add_btn_jasmine{
    width: 10vw;
    height: 6vh;
    background: #b6d7c8;
    color: #ffffff;
    border-radius: 1em;
    border: none;
    font-size: 1em;
}

.add_btn_jasmine:hover{
    background: linear-gradient(#8DBFA7, #438710);
    color: #FFF6FE;
}

#receipes{
    display: flex;
    margin: 6em 4em;
    box-shadow: 9px 7px 16px 2px #c294ffae;
}

#receipes img{
    width: 50%;
    height: 80vh;
    object-fit: cover;
}

.receipes_content{
    background: #C394FF76;
    color: #ffffff;
    width: 50%;
    height: 80vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2em;
}

.receipes_content h2{
    font-size: 3em;
    text-shadow: #870C92 0px 5px 5px;
}

.receipes_content p{
    font-size: 1em;
    text-shadow: #870C92 0px 5px 5px;
}

/*.receipes_btn{
    width: 10vw;
    height: 6vh;
    background: #C394FF;
    color: #FFF6FE;
    border-radius: 1em;
    border: none;
    font-size: 1em;
}

.receipes_btn:hover{
    background: #b57dfe;
    color: #ffffff;
}*/

#boxes{
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 5em 5em;
}

#boxes h2{
    font-size: 3em;
    color: #FF1493;
    margin-bottom: 0.5em;
    text-align: center;
    text-shadow: #fa7abe 0px 5px 5px;
}

#boxes .product_list{
    margin: 2em 0em 2em 0em;
}

.boxes_card{
    width: 25vw;
    height: 70vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.boxes_info{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1em;
    margin-top: 0.5em;
}

.boxes_info p{
    font-size: 0.9em;
}

.boxes_card img{
    width: 18vw;
    height: 38vh;
}

.decouverte{
    background: linear-gradient(#FFF6FE50, #E5A582, #FFF6FE50 );
    color: #AC461A;
}

.add_btn_decouverte{
    width: 10vw;
    height: 6vh;
    background: #fbcfa7;
    color: #ffffff;
    border-radius: 1em;
    border: none;
    font-size: 1em;
}

.add_btn_decouverte:hover{
    background: linear-gradient(#f5d574, #E5A582);
    color: #FFF6FE;
}

.felicitee{
    background: linear-gradient(#FFF6FE50, #FF149350, #FFF6FE50 );
    color: #870C92;
}

.add_btn_felicitee{
    width: 10vw;
    height: 6vh;
    background: #fc9fd0;
    color: #ffffff;
    border-radius: 1em;
    border: none;
    font-size: 1em;
}

.add_btn_felicitee:hover{
    background: linear-gradient(#f878bc, #FF1493);
    color: #FFF6FE;
}  

.fiesta{
    background: linear-gradient(#FFF6FE50, #00B8D470, #FFF6FE50 );
    color: #0A8A9E;
}

.add_btn_fiesta{
    width: 10vw;
    height: 6vh;
    background: #7dd3e0;
    color: #ffffff;
    border-radius: 1em;
    border: none;
    font-size: 1em;
}  

.add_btn_fiesta:hover{
    background: linear-gradient(#87dfec, #00B8D4);
    color: #FFF6FE;
}

#newsletter{
    display: flex;
    justify-content: center;
   align-items: center;
    background: #C394FF50;
    height: 40vh;
    margin: 18em 0em 19em 0em;
    box-shadow: 0px 6px 100px #C394FF;
}

.newsletter_content{
    display: flex;
    align-items: center;
    flex-direction: column;
}

.newsletter_title{
    display: flex;
    flex-direction: column;
    gap: 1em;
    color: #ffffff;
    margin-bottom: 0.5em;
    text-align: center;
    text-shadow: #870C92 0px 5px 5px;
    margin-bottom: 2em;
}

.newsletter_title h2{
    font-size: 2em;
}
.newsletter_title p{
    font-size: 1.5em;
}


.nws_form{
    display: flex;
    width: 51vw;
    height: 7vh;
    margin: 2em 5em;
}

.nws_form input{
    width: 40vw;
    height: 6vh;
    padding-left: 1em;
    border: none;
}

.nws_btn{
    width: 10vw;
    height: 6.2vh;
    background: #C394FF;
    color: #FFF6FE;
    border: none;
}

footer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 52vh;
}

footer h3{
    font-size: 2em;
    color: #FF1493;
}

.footer_content{
    display: flex;
    align-items: center;
    margin-bottom: 8em;
}

.socials_content{
    width: 27vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2em;
    margin: 2em 10em 13em 0em;
}

.footer_content img{
    width: 20vw;
    height: 42vh;
}

.socials{
    width: 10vw;
    height: 10vh;
    display: flex;
    justify-content: center;
    gap: 2em;
}

.socials .fa-brands{
    font-size: 3em;
    color: #FF1493;
}

.socials .fa-brands:hover{
    color: #f95fb1;
}

.footer_links{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 30vw;
    align-items: flex-end;
    gap: 2em;
    text-align: end;
    padding-bottom: 2em;
}

.footer_links ul{
    display: flex;
    flex-direction: column;
    gap: 2em;
    list-style: none;
}

.footer_links a{
    text-decoration: none;
    color: black;
}

.footer_links a:hover{
    color: #FF1493;
}

.copy{
    border-top: #000000 1px solid;
    width: 60vw;
    padding: 1em 0em;
    text-align: center;
}